# T Distribution

- ## [T - Table](https://cdn.upgrad.com/UpGrad/temp/539fd5d0-aaf0-4502-8336-6050098ad8ce/t-table.pdf)

![ss](https://cdn.upgrad.com/UpGrad/temp/f160b087-0369-42fb-8412-1b08844f9bf5/1.png)

    t-distribution vs standard normal distribution


At a sample size `beyond 30`, the T-distribution becomes approximately `equal` to the normal distribution.

![ss](https://cdn.upgrad.com/UpGrad/temp/e8b5ea3c-6a17-447e-a70a-51452434819d/2.png)

    Flowchart for deciding the test

Type of tests
--------

If the `sample size is 10` and the standard deviation of the population is known,

which distribution should be used to calculate the critical values and make the decision during hypothesis testing?

    Standard normal distribution (z-distribution)

    T distribution

--------

    Standard normal distribution (z-distribution)

    ✓ Correct
    Feedback:

Whenever the standard deviation of the population is `known`, you have to use z-distribution, `irrespective` of the value of the sample size (N).

Type of tests
-------

If the sample size is 10 and the standard deviation of the population is unknown,

which distribution should be used to calculate the critical values and make the decision during hypothesis testing?

    Standard normal distribution (z-distribution)

    T distribution

----------

    T distribution

    ✓ Correct
    Feedback:

T distribution is used whenever the `standard deviation` of the population is `unknown` and the sample size is `less than 30`.

t-test
---

You are given the standard deviation of a sample of size 25 for a two-tailed hypothesis test of a significance level of 5%.

Use the t-table given above to find the value of Zc.

    1.711

    2.064

    2.060

    1.708

--------

    2.064

    ✓ Correct
    Feedback:

For `sample size = 25`, your `degrees of freedom` would become `25 - 1 = 24`.

So, if you look for the value in the t-table corresponding to

    d.f. = 24 and α = 0.05

for a `two-tailed` test, you would get the `t-value as 2.064`.

t-test
------

You are given the standard deviation of a sample of size 32 for a two-tailed hypothesis test of a significance level of 5%.

Use the **t-table** given above to find the value of Zc.

    1.711

    2.064

    1.645

    1.96

------

    1.96

    ✓ Correct
    Feedback:

For `sample size = 32`, your `degrees of freedom` would become `32 - 1 = 31`.

So, if you look for the value in the t-table corresponding to

    d.f. > 29 and α = 0.05

for a `two-tailed` test, you would get a value of `1.96`.

# Two-Sample Mean Test

Hypotheses in a Two-Sample Mean Test
---------

In this two-sample mean test, suppose the null hypothesis is stated as follows:

    H₀: μ₁ - μ₂ = 0

What would be the alternate hypothesis in this case?

H₁: μ₁ + μ₂ = 0

H₁: μ₂ - μ₁ = 0

H₁: μ₁ - μ₂ ≠ 0

H₁: μ₁ - μ₂ < 0

----------

    H₁: μ₁ - μ₂ ≠ 0

    ✓ Correct
    Feedback:

The alternate hypothesis is the claim which opposes the null hypothesis.

If the null hypothesis states that the difference between both the means is zero,

then the alternate hypothesis would be that the difference between both the means is `not` zero,

    i.e. μ₁ - μ₂ ≠ 0

Two-Sample Mean Test - Paired
-----

There is a hypothesis that Virat Kohli performs better or as good in the second innings of a test match as the first innings.

This would be a two-sample mean test, where sample 1 would contain his score from the first innings and sample 2 would contain his score from the second innings.

This would be a paired test since each row in the data would correspond to the same match.

What would be the null hypothesis in this case?

    H₀: μ₂ - μ₁ = 0

    H₀: μ₂ - μ₁ ≥ 0

    H₀: μ₂ - μ₁ ≤ 0

    H₀: μ₁ - μ₂ ≠ 0

----------

    H₀: μ₂ - μ₁ ≥ 0

    ✓ Correct
    Feedback:

Here, the assumption is that Virat Kohli performs `better or as good as` in the second innings,

which means his average in the second innings is assumed to be `greater than or equal` to his average in the first innings.

So, the null hypothesis would be:

    μ₂ ≥ μ₁ or μ₂ - μ₁ ≥ 0

In the Excel file,
---------

go to the `third tab` ‘*2-sample mean test - Unpaired*’ and perform the required test.

Answer the questions below after performing this test, taking a significance level of `5%`.

Two-Sample Mean Test - Unpaired
------

What would be the p-value for this test if you consider it as a two-tailed test?

    0.0055

    0.011

    0.022

    0.044

---------

    0.022

    ✓ Correct
    Feedback:

If you perform the steps shown in the demonstration above and look at the second-last row of the output table,

you would see that the p-value of a two-tailed test is 0.022

In [1]:
import pandas as pd

sh = pd.read_excel('2-sample mean test.xlsx',
                   sheet_name=None)

name = list(sh.keys())
name

[' 1-sample mean test',
 '2-sample mean test - Paired',
 '2-sample mean test - Unpaired']

In [2]:
df = []

for i in range(len(name)):
  df.append(pd.read_excel('2-sample mean test.xlsx',
                          name[i]))
  display(df[i].tail())

    Unnamed: 0  Commute time of employees   Hypothesised Mean Time
27         NaN                          15                     NaN
28         NaN                          19                     NaN
29         NaN                          24                     NaN
30         NaN                          22                     NaN
31         NaN                          12                     NaN

    Unnamed: 0  Commute time on Day 1  Commute Time on Day 2
27         NaN                     19                     19
28         NaN                     15                     17
29         NaN                     22                     24
30         NaN                     39                     43
31         NaN                     38                     31

    Unnamed: 0  Commute time of Team 1  Commute Time of Team 2
27         NaN                      19                      19
28         NaN                      15                      35
29         NaN                      22                      59
30         NaN                      39                      49
31         NaN                      38                      29

In [3]:
df[2][['Commute time of Team 1', 'Commute Time of Team 2']].describe()

       Commute time of Team 1  Commute Time of Team 2
count               32.000000               32.000000
mean                34.000000               41.875000
std                 11.080352               15.391137
min                 15.000000               13.000000
25%                 23.750000               30.500000
50%                 33.000000               42.500000
75%                 42.250000               56.250000
max                 54.000000               64.000000

Two-Sample Mean Test - Unpaired
---------

What can you conclude from this test about the two unpaired samples if you take a significance level of 5%?

    There is no significant difference between the means of the two samples

    There is some significant difference between the means of the two samples

------

    There is some significant difference between the means of the two samples

    ✓ Correct
    Feedback:

The null hypothesis in this test is that the means of the two samples are the same,

and there is no significant difference between them.

    As the p-value (0.022) is less than 0.05 (value of α),

you can `reject the null hypothesis` and conclude that there is some significant difference between the means of the two samples.

In [4]:
sh = pd.read_excel('2-sample mean test - solution.xlsx', sheet_name=None)
name = list(sh.keys())
df = []

for i in range(len(name)):
  df.append(pd.read_excel('2-sample mean test - solution.xlsx', name[i]))

In [5]:
df[1].iloc[3:17, 4:]

                             Unnamed: 4  Unnamed: 5  Unnamed: 6
3   t-Test: Paired Two Sample for Means         NaN         NaN
4                                   NaN         NaN         NaN
5                                   NaN  Variable 1  Variable 2
6                                  Mean          34    33.59375
7                              Variance  122.774194  140.184476
8                          Observations          32          32
9                   Pearson Correlation     0.92773         NaN
10         Hypothesized Mean Difference           0         NaN
11                                   df          31         NaN
12                               t Stat    0.519893         NaN
13                     P(T<=t) one-tail    0.303416         NaN
14                  t Critical one-tail    1.695519         NaN
15                     P(T<=t) two-tail    0.606831         NaN
16                  t Critical two-tail    2.039513         NaN

In [6]:
df[2].iloc[3:17, 4:]

                                       Unnamed: 4  Unnamed: 5  Unnamed: 6
3   t-Test: Two-Sample Assuming Unequal Variances         NaN         NaN
4                                             NaN         NaN         NaN
5                                             NaN  Variable 1  Variable 2
6                                            Mean          34      41.875
7                                        Variance  122.774194  236.887097
8                                    Observations          32          32
9                    Hypothesized Mean Difference           0         NaN
10                                             df          56         NaN
11                                         t Stat   -2.348977         NaN
12                               P(T<=t) one-tail    0.011189         NaN
13                            t Critical one-tail    1.672522         NaN
14                               P(T<=t) two-tail    0.022379         NaN
15                            t Critical two-tail    2.003241         NaN
16                                            NaN         NaN         NaN

# Two-Sample Proportion Test

In [7]:
sh = pd.read_excel('2-sample proportion test.xlsx', sheet_name=None)
name = list(sh.keys())
df = []

for i in range(len(name)):
  df.append(pd.read_excel('2-sample proportion test.xlsx', name[i]))

In [10]:
df[0].iloc[2:, 6:]

                                           Unnamed: 6  Unnamed: 7
2   XLSTAT 2017.02.43894  - Tests for two proporti...         NaN
3                                     Frequency 1: 15         NaN
4                                   Sample size 1: 32         NaN
5                                     Frequency 2: 20         NaN
6                                   Sample size 2: 32         NaN
7                      Hypothesized difference (D): 0         NaN
8                           Variance: p1q1/n1+p2q2/n2         NaN
9                          Continuity correction: Yes         NaN
10                          Significance level (%): 5         NaN
11                                         Run again:         NaN
12                                                NaN         NaN
13                                                NaN         NaN
14                                                NaN         NaN
15      z-test for two proportions / Two-tailed test:         NaN
16                                                NaN         NaN
17  95% confidence interval on the difference betw...         NaN
18                                          -0.897144    0.584644
19                                                NaN         NaN
20                                         Difference   -0.156250
21                                 z (Observed value)   -1.017027
22                                 z (Critical value)    1.959964
23                               p-value (Two-tailed)    0.309141
24                                              alpha    0.050000
25                                                NaN         NaN
26                               Test interpretation:         NaN
27  H0: The difference between the proportions is ...         NaN
28  Ha: The difference between the proportions is ...         NaN
29  As the computed p-value is greater than the si...         NaN
30                                                NaN         NaN
31  The risk to reject the null hypothesis H0 whil...         NaN

In [9]:
df[1].head()

   Unnamed: 0  Control Group (Old Feature)  Variable Group (New Feature)
0         NaN                            0                           1.0
1         NaN                            0                           0.0
2         NaN                            0                           0.0
3         NaN                            0                           0.0
4         NaN                            0                           1.0

# A/B Testing Demonstration

A/B Testing Demonstration
------------

618 out of 2,620 people filled the application using the old feature, which makes it 23.59% conversions in the control group.

601 out of 2,380 people filled the application using the new feature, which makes it 25.25% conversions in the variation group.

What can you conclude about the new feature through this data of A/B testing?

    The new feature is better than the old feature

    The new feature is better or as good as the old feature

    The new feature is not better than the old feature

    Nothing can be concluded by just looking at this data

-----------

    Nothing can be concluded by just looking at this data

    ✓ Correct
    Feedback:

The number of conversions is more in case of the new feature.

But there needs to be some statistical difference between the two values to arrive at a conclusion about this test,

which would depend upon the significance level you choose.

So, you cannot conclude anything just from this data.

# Industry Relevance

Industry Relevance
----------

For this example of Domino’s campaign for Peppy Paneer Pizza, test population is considered as it is purchasing that particular pizza because of the campaign and control population is the one which buys that pizza normally.

What would be the null hypothesis in this case?

    The difference in response rate of control and
    test population is statistically significant

    The difference in response rate of control and
    test population is statistically insignificant

----

    The difference in response rate of control and
    test population is statistically insignificant

    ✓ Correct
    Feedback:

This is a 2-sample proportion test.

The null hypothesis would contain the equality parameter.

So you would assume that difference between response rates of both groups is equal to zero,

or you can say that the difference is statistically insignificant.

# Hypothesis Testing in Python

You can easily do hypothesis testing in Python by using **stats** from **Scipy** library.

1-sample t-test: testing the value of a population mean
----------

To test, if the population mean of data is likely to be equal to a given value

    scipy.stats.ttest_1samp()

    stats.ttest_1samp(data['column'], x)
    #where x is the mean value you want to test

2-sample t-test: testing for difference across populations
---------

    scipy.stats.ttest_ind()

    stats.ttest_ind(column_1,column_2)

Paired tests: repeated measurements on the same individuals
----------

    stats.ttest_rel()

    stats.ttest_rel(column_1,column_2)

# Summary

So what did you learn in this session?

T-distribution:
----

- A T-distribution is used whenever the standard deviation of the population is unknown
- The degrees of freedom of a T-distribution is equal to sample size n - 1
- For sample size ≥ 30, the T-distribution becomes the same as the normal distribution
- The output values and results of both t-test and z-test are same for sample size ≥ 30

Two-sample mean test - paired:
---------

- It is used when your sample observations are from the same individual or object
- During this test, you are testing the same subject twice

Two-sample mean test - unpaired:
----------

- During this test, you are not testing the same subject twice
- It is used when your sample observations are independent

Two-sample proportion test:
-----------

- It is used when your sample observations are categorical, with two categories
- It could be True/False, 1/0, Yes/No, Male/Female, Success/Failure, etc.

A/B Testing:
--------

- A/B testing is a direct industry application of the two-sample proportion test
- It is a widely used process in digital companies in the ecommerce, manufacturing and advertising domains
- It provides a way to test two different versions of the same element and see which one performs better

# Download - [Lecture Notes - Hypothesis Testing](https://cdn.upgrad.com/UpGrad/temp/200ff96a-2138-4b31-ad1b-9e8cfd9cbbc6/Lecture_Notes_2.4.pdf)